<!DOCTYPE html>
<html lang="en">

<head>
	<title>Samaritan OS Terminal</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1,initial-scale=1">
	<script src= "https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" />
	<style type="text/css">
		.terminal,
		span {
			--size: 1.0;
		}

		.cmd, .cmd div, .cmd span[data-text]:not(.cmd-inverted):not(.token):not(.emoji), .terminal, .terminal-output>:not(.raw) a, .terminal-output>:not(.raw) div, .terminal-output>:not(.raw) span[data-text]:not(.token):not(.inverted):not(.terminal-inverted):not(.cmd-inverted):not(.terminal-error):not(.emoji), .terminal.external [data-text] {
			background-color: #fff;
			color: var(--color,#aaa);
		}

		.web-upload-1, .web-upload-2 {
			box-shadow: 0px 0px 4px 1px #c7c7c7;
			text-align: center;
			border-radius: 10px;
			padding: 20px;
			position: fixed;
			left: 30%;
			top: 30%;
			z-index: 9999999999;
		}

		.hidden {
			display: none;
		}
		
		.affirm {
			text-align: center;
		}

		.blue {
			color: blue;
			font-weight: 700;
		}

		.cancel {
			cursor: pointer;
		}

		.modal {
			background-color: #fff;
		}
	</style>
</head>

<body>
	<template id="greetings">
																SamaritanOS: A Decentralized Identity Access Layer. v0.1.0
																			For help, enter "sam help"
																																
	   </template>
	<script src="js/cmd.js"></script>
</body>

</html>
